<div class="flex items-center justify-between pt-4">
  <div>
    <div class="mb-2.5 h-2.5 w-24 rounded-full bg-gray-300 dark:bg-gray-600">
    </div>
    <div class="h-2 w-32 rounded-full bg-gray-200 dark:bg-gray-700"></div>
  </div>
  <div class="h-2.5 w-12 rounded-full bg-gray-300 dark:bg-gray-700"></div>
</div>
